__pycache__/
ifonlyiknewumdioexistedbeforeiwrotethiswholefileandnowidontwanttodeleteiteventhoughitsbadjustbcittookalotoftimebciveneverusedbs4before/
src/__pycache__/
.DS_Store
.gitignore
src/requirements.txt
src/test.json
src/test.py