backend/__pycache__/
backend/ifonlyiknewumdioexistedbeforeiwrotethiswholefileandnowidontwanttodeleteiteventhoughitsbadjustbcittookalotoftimebciveneverusedbs4before/
backend/src/__pycache__/
backend/.DS_Store
backend/src/requirements.txt
backend/src/test.json
backend/src/test.py

frontend/.DS_Store
frontend/node_modules
frontend/build
frontend/.svelte-kit
frontend/package
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
frontend/.svelte-kit/
